@import-normalize; /* bring in normalize.css styles */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
html {
	position: relative;
	height: 100%;
}

main {
	max-width: 960px;
	margin: 0 auto;
}

input,
button,
select {
	font-size: 16px;
	background: rgba(255, 255, 255, 0.2);
	padding: 10px;
	margin: 5px;
	border: 1px solid #eee;
	border-radius: 5px;
	backdrop-filter: blur(4px);
}

input:active,
select:active,
input:focus,
select:focus,
button {
	background: rgba(255, 255, 255, 0.5);
	outline: none;
}

button:active,
button:focus {
	background: rgba(255, 255, 255, 0.8);
}
